.PlayerContainer {
  position: relative;
  width: 100%;
  height: 300px;
}

.meta-container {
  height: 300px;
  overflow-y: scroll;
}

#cueBox {
  position: absolute;
  bottom: 55px;
  height: 245px;
  width: 100%;
}

.source-container {
  white-space: pre-wrap;
}